.App {
  text-align: center;
}


.workout {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.workoutInput {
  display: flex;
  flex-flow: column;
  margin-right: 10px;
  align-items: start;
}

.workoutTitle {
  font-size: 14px;
  margin: 10px;
}

.workoutValue {
  box-sizing: border-box;
  height: 50px;
  width: 150px;
  border: 1px solid #000000;
  border-radius: 5px;
  color: rgb(83, 91, 105);
  padding: 10px;
}

.workoutAdd {
  height: 50px;
  width: 50px;
  margin-top: auto;
  border: 1px solid #000000;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

.result {
  width: 370px;
  margin: auto;
}

.resultTitle {
  display: flex;
  justify-content: space-between;
}

.resultList {
  border: 1px solid #000000;
  border-radius: 15px;
}

.resultItem {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

button {
  border: 0px;
  background: white;
}